h2{
    font-size: xx-large;
    display: flex;
    color: rgba(37, 32, 28, 0.774);
}
h3{
    color: rgba(0, 119, 255, 0.74);
}
img{
    padding-top: 15px;
    height: 100px;
    width: 150px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
    font-size: 15px;
}
#book{
    background-color: rgba(111, 169, 255, 0.692);
}
#movies{
    background-color: rgb(252, 252, 126);
}
#musics{
    background-color: rgb(255, 115, 255);
}
#series{
    background-color: rgba(108, 204, 99, 0.849);
}
.box{
    border: 1px dashed black;
    width: 250px;
    display: grid;
    justify-content: center;
}
.row{
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.column {
	flex-direction: column;
}
