body{
    background-color: rgba(0, 0, 0, 0.829);
}

/* inicio do config da nav */
nav{
    background-color: rgba(0, 0, 0, 0.233);
    display: flex;
    height: 100px;
    box-shadow: -2px 3px 10px black;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    background-color: none;
}
#conteinerform{
    background-color: none;
    margin-right: auto;
}
ul{
    background-color: none;
}
#pesquisa{
    border-radius: 20px;
    width: 47%;
    margin-left: auto;
    border: 1px solid transparent;
}
#pesquisa:focus{
    background-color: rgb(234, 250, 248);
    color: black;
    outline: none;
    border: 1px solid black;
}
#icnoneNav{
    background-color: none;
    margin-left: auto;
    font-size: large;
}
.navbar-nav {
    justify-content: end;
}
.btn-group{
    background-color: none;
    color: white;
}
#dropdown{
    background-color: none;
}
#linklogo{
    color: white;
    text-decoration: underline;
}
#logo{
    background-color: none;
    margin-right: auto;
}
/* fim da config da nav */

/* titulo */
#titulo{
    padding-top: 5%;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
}

/* inicio do config das recomendações para vc */
#conteinercard{
    background-color: none;
    height: 370px;
    padding-top: 5%;
    justify-content: center;
    margin-left: 18%;
}
h5{
    margin-left: 6%;
    color: white;
}
img{
    border-radius: 10px;
    flex-basis: auto;
}
#tentativa{
    object-position: center;
}
.row{
    margin-right: 5%;
    justify-content: end;
    background-color: none;
 }
.card{
    border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.521);
}
.descricao{
    font-size: x-small;
    color: white;
    text-decoration: underline;
    font-style: oblique;
}
.descricao:hover{
    font-size: 15px;
}
/* fim do config das recomendações para vc */

/* inicio da config dos artista que vc possa gostar */
#conteinercard1{
    background-color: none;
    height: 300px;
    padding-top: 1%;
    justify-content: center;
    margin-left: 18%;
}
#artistasqvcpossagostar{ 
    justify-content: center;
    background-color: none;
}
.musica{
    height: 50px;
    width: 215px;
    height: 50px;
    padding: auto;
}
.descricao1{
    font-size: medium;
    font-style: italic;
    color: white;
    text-decoration: none;
}
.descricao1:hover{
    font-size: 22px;
}
/* fim da config dos artista que vc possa gostar */

/* inicio da config das musicas mais escutadas */
#conteinercard2{
    background-color: none;
    height: 300px;
    justify-content: center;
    margin-left: 18%;
}
/* fim da config das musicas mais escutadas */

/* inicio da config das musicas variadas */
#conteinercard3{
    background-color: none;
    height: 480px;
    justify-content: center;
    margin-left: 18%;
}
/* fim da config das musicas variadas */

    /* Inicio do footer */
    #footer{
        display: flex;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.233);;
        box-shadow: 2px -3px 7px white;
    }
    .card1{
        padding-left: 10px;
        background-color: none;
    }
    .card2{
        padding-left: 40px;
        background-color: none;
    }
    .descricao2{
        font-size: smaller;
        color: white;
        text-decoration: underline;
    }
    #img{
        margin-left: auto;
        padding-top: 1.5%;
        padding-right: 0.7%;
    }
    /* Inicio do footer */